@import "tailwindcss";

:root {
  --background: #F2F2F2;
}

@theme inline {
  --color-background: var(--background);
  --color-blueish: #1111F4;
  --color-heading: #212121;
  --color-subheading: #353535;
  --color-placeholder: #d9d9d9;
  --color-sidebar: #8c8c8c;
  --color-secondary: #f9f9f9;
}

@layer utilities {
  .input-heading {
    @apply text-[16px] font-medium text-subheading;
  }

  .input-box{
    @apply border border-placeholder placeholder:text-placeholder rounded-[6px];
  }
}


body {
  background: var(--background);
  font-family: var(--font-roboto);
}

/* scroll bar*/
aside {
  height: calc(100vh - 92px);
  overflow-y: hidden;
  scrollbar-gutter: stable;
  /* Prevents content from shifting */

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Show scrollbar only on hover */
aside:hover {
  overflow-y: auto;
  scrollbar-color: #dedcdc #f9f9f9;
}

/* WebKit Browsers */
aside::-webkit-scrollbar {
  width: 8px;
}

aside::-webkit-scrollbar-track {
  background-color: transparent;
}

aside::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

aside:hover::-webkit-scrollbar-thumb {
  background-color: #dedcdc;
  /* Light gray like YouTube */
}

aside:hover::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}