@import "tailwindcss";

:root {
  --background: #F2F2F2;
}

@theme inline {
  --color-background: var(--background);
  --color-blueish: #1111F4;
  --color-heading: #212121;
  --color-subheading: #353535;
  --color-placeholder: #d9d9d9;
  --color-sidebar: #8c8c8c;
  --color-secondary: #f9f9f9;
}

body {
  background: var(--background);
  font-family: var(--font-roboto);
}